---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Partners from '../components/Partners.astro';
import Services from '../components/Services.astro';
import FAQ from '../components/FAQ.astro';
import Testimonials from '../components/Testimonials.astro';
import News from '../components/News.astro';
import Footer from '../components/Footer.astro';
---

<Layout 
    title="Schlüsseldienst Kaufbeuren - Aufsperrdienst ab 29€ Festpreis | 24h Notdienst"
    description="Schlüsseldienst Kaufbeuren ✅ in 10-30 Minuten vor Ort ✅ Türöffnung ab 29€ Festpreis ✅ 24h Notdienst ☎ Jetzt anrufen - Ihr zuverlässiger Aufsperrdienst"
>
    <Header />
    <main>

    </main>
    <Footer />
</Layout>