---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Partners from '../components/Partners.astro';
import Services from '../components/Services.astro';
import Quote from '../components/Quote.astro';
import FAQ from '../components/FAQ.astro';
import Testimonials from '../components/Testimonials.astro';
import Footer from '../components/Footer.astro';
import Map from '../components/Map.astro';

import  SpeedInsights  from "@vercel/speed-insights/astro"
---

<Layout 
    title="Schlüsseldienst Kaufbeuren | 24h Notdienst"
    description="Schlüsseldienst Kaufbeuren ✅ Schnell vor Ort ✅ 24h Notdienst ☎ Jetzt anrufen - Ihr zuverlässiger Aufsperrdienst"
>
    <Header />
    <main>
        <Hero />
        <Services />
        <Quote />
        <Partners />
        <FAQ />
        <Testimonials />
        <Map />
    </main>
    <Footer />
</Layout>